[submodule "Gainput/gainput"]
	path = Gainput/gainput
	url = https://github.com/MartinPalko/gainput.git
[submodule "libsass/libsass"]
	path = libsass/libsass
	url = https://github.com/sass/libsass.git
