[submodule "Gainput/gainput"]
	path = Gainput/gainput
	url = https://github.com/MartinPalko/gainput.git
[submodule "libsass/libsass"]
	path = libsass/libsass
	url = https://github.com/sass/libsass.git
[submodule "Box2D/Box2D"]
	path = Box2D/Box2D
	url = https://github.com/erincatto/Box2D.git
